.list {
  padding-left: 50px;
}

.list__item {
  display: flex;
  align-items: center;
  list-style: none;

  &:not(:last-child) {
  margin-bottom: 20px;
}
}



.item {
&__name {
  margin-right: 20px;
}

&__flag {
  width: 60px;
  height: auto;
}
}
