<ul class="list">
    {{#each this}}
    <li class="list__item">
        <div class="item__name">{{name}}</div>
        <img class="item__flag" src="{{flag}}" alt="Flag of {{name}}">
    </li>
    {{/each}}
</ul>